{% load static %}

<html>
  <head>
    <title>Buy {{ item.name }}</title>
  </head>
  <body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <button class="btn btn-success ml-auto" id="checkout-button">Buy {{ item.name }}</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('{{ stripe_publishable_key }}');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function () {

        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('https://tap-django-stripe.herokuapp.com/api/checkout-session/{{ item.id }}', {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout(sessionId: response['sessionId']);
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
      });
    </script>
  </body>
</html>
