{% load static %}

<html>
  <head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <title>Buy {{ item.name }}</title>
  </head>
  <body>
    <div class="container py-5">
      <a href="{{ window.location.origin }}">
        <h1>Shop</h1>
      </a>
      <hr>
      <article>
          <h2>{{ item.name }}</h2>
          <h5>{{ item.price }}</h5>
        <br>
        <h5>{{ item.description }}</h5>
        <br>
        <a href="{{ window.location.origin }}/buy/{{ item.id }}" class="button">
          <button class="btn btn-primary">Buy</button>
        </a>
    </article>
  </div>
  </body>
</html>
